@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(../build/images/bg-tablet-pattern.svg);
    background-size: 1000px;
    background-position: 90% -25%;
    background-repeat: no-repeat;
}
@media (max-width:880px){
    body{
        background-position: 70px -60px;
        background-size: 700px;
    }
}
a,
button,
input,
textarea {
outline: none;
}

.hamburger {
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.25s;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top:0;
    left: 0;
    width: 25px;
    height:3px;
    background-color: #000;
    transform: rotate(0);
    transition: all 0.3s;
}
.hamburger-middle {
    transform: translateY(10px);
}
.hamburger-bottom {
    transform: translateY(20px);
}
.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}
.open .hamburger-top {
    transform:  rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle {
    display: none;
}
.open .hamburger-bottom {
    transform:  rotate(-45deg) translateY(6px) translate(-6px);
}